.banner {
  background: $color-white;
  box-shadow: 0 1px 0 $color-light-gray;
  line-height: 1;
  position: relative;
  text-align: center;
  width: 100%;
}

.banner-title {
  padding-top: $margin-half;
}

.banner-navigation {
  border-top: 1px dashed $color-light-gray;
  margin: $margin-offset 0 0;
  padding-top: 1.125rem;
}

.banner-navigation li:not(:last-child) {
  margin-right: $margin-double;
}

// Overlay

.banner--overlay {
  background: none;
  box-shadow: none;
  color: $color-white;
}
