.banner {
  background: $color-white;
  box-shadow: 0 1px 0 $color-light-gray;
  line-height: 1;
  position: relative;
  width: 100%;
}

.banner-title {
  max-width: columns(3, true);
  width: percentage(1/3);
}

.banner-title,
.banner-navigation {
  display: inline-block;
  vertical-align: middle;
}

.banner-navigation {
  @extend %inlinefix;

  max-width: columns(9, true);
  width: percentage(2/3);
}

.banner-navigation ul {
  margin-left: $margin;
}

.banner-navigation li {
  margin-right: $margin-double;
}

// Overlay

.banner--overlay {
  background: none;
  box-shadow: none;
  color: $color-white;
}
