.footer {
  background: mix($color-tan, $color-black, 87.5%);
  width: 100%;
}

.footer-navigation {
  @extend %list;
}

.footer-copy {
  border-top: 1px dashed $color-gray;
  display: block;
  font-size: 1rem;
  line-height: line-height-for(1rem);
  margin-top: $margin-half;
  padding-top: $margin-half;
}
