---
---

<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.name }}</title>
    {% include head.html %}
  </head>

  <body>
    <header role="banner" class="banner banner--overlay">
      <div class="container">
        <h1 class="banner-title">{{ site.name }}</h1>
      </div>

      {% include search.html modifier="overlay" autofocus=true %}
      {% include hero.html path="destinations/hero.jpg" modifier="underlay" position="bottom" %}
    </header>

    <main role="main">
      <article>
        <h2>Destinations</h2>

        <ul class="card-list">
          {% for destination in site.data.destinations limit:6 %}
            <li>
              {% include cards/destination.html destination=destination %}
            </li>
          {% endfor %}
        </ul>

        <section>
          <h3>More Places to Explore</h3>

          <ul class="card-list">
            {% for city in site.data.destinations offset:6 %}
              <li><a href="/destinations/france/paris/">{{ city }}</a></li>
            {% endfor %}
          </ul>
        </section>
      </article>
    </main>

    {% include footer.html %}
  </body>
</html>
