<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" href="/assets/stylesheets/main.css" />

<link rel="icon" type="image/png" href="/assets/images/favicon.png" />

<link rel="icon" sizes="192x192" href="/assets/images/touch-icon/192x192.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/images/touch-icon/152x152.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/touch-icon/144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/images/touch-icon/120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/touch-icon/114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/images/touch-icon/76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/touch-icon/72x72.png" />
<link rel="apple-touch-icon-precomposed" href="/assets/images/touch-icon/57x57.png" />

<script src="//use.typekit.net/wxb8bnv.js" onload="try{Typekit.load();}catch(e){}"></script>
<script src="/assets/javascripts/main.js" async defer></script>
