[class^="icon-"] {
  @extend %hide-text;

  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 0.75em;
  display: inline-block;
  height: 0.75em;
  vertical-align: baseline;
  width: 0.75em;
}

.icon-heart {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjUiIGhlaWdodD0iMTE0IiB2aWV3Qm94PSIwIDAgMTI1IDExNCI+PHBhdGggZD0iTTYxLjUgMTAuNzVjLTE0LjA2LTE0LjA1OC0zNi44NTMtMTQuMDU4LTUwLjkxMiAwLTE0LjA2IDE0LjA2LTE0LjA2IDM2Ljg1NCAwIDUwLjkxMy4zMzUuMzM1LjY3NS42NjIgMS4wMi45OEw2Mi41IDExMy41NzZsNTAuOTEyLTUwLjkxMmMuMzI1LS4zMzguNjY1LS42NjUgMS0xIDE0LjA2LTE0LjA2IDE0LjA2LTM2Ljg1MyAwLTUwLjkxMi0xNC4wNi0xNC4wNTgtMzYuODUzLTE0LjA1OC01MC45MTIgMC0uMzM1LjMzNi0uNjYyLjY3Ni0uOTggMS4wMi0uMzU4LS4zNDQtLjY4NS0uNjg0LTEuMDItMS4wMnoiIGZpbGw9IiNGRDQwMjQiLz48L3N2Zz4=');
}
