.search {
  @extend %align-center;

  max-width: 720px;
  width: percentage(2/3);
}

.search label {
  @extend %hide-content;
}

.search input {
  background: $color-white url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSIyMSIgdmlld0JveD0iMCAwIDE1IDIxIj48cGF0aCBkPSJNNy41IDIxUzE1IDExLjY0MiAxNSA3LjVDMTUgMy4zNTggMTEuNjQyIDAgNy41IDAgMy4zNTggMCAwIDMuMzU4IDAgNy41IDAgMTEuNjQyIDcuNSAyMSA3LjUgMjF6bTAtMTBDOS40MzMgMTEgMTEgOS40MzMgMTEgNy41UzkuNDMzIDQgNy41IDQgNCA1LjU2NyA0IDcuNSA1LjU2NyAxMSA3LjUgMTF6IiBmaWxsPSIjRkQ0MDI0IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=') no-repeat 40px center;
  border-radius: 48px;
  border: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  font-size: 1.75rem;
  font-weight: $weight-semibold;
  height: line-height-for(1.75rem) * 4;
  text-indent: 83px; // background image width + offsets
}
