.date-picker {
  text-align: center;
}

.date-picker li {
  display: inline-block;
  text-align: left;

  &:not(:first-child) {
    margin-left: -4px;
  }
}

// Prevent Chrome from misaligning
.date-picker select {
  overflow: visible;
}
